{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block content %}
<div class="container">
 <div class="row">
  <div class="col-12">
   <table class="table table-bordered">
    <thead>
     <tr>
      <th scope="col">שם</th>
      <th scope="col">08:00</th>
      <th scope="col">09:00</th>
      <th scope="col">10:00</th>
      <th scope="col">11:00</th>
      <th scope="col">12:00</th>
      <th scope="col">13:00</th>
      <th scope="col">14:00</th>
      <th scope="col">15:00</th>
      <th scope="col">16:00</th>
      <th scope="col">17:00</th>
      <th scope="col">18:00</th>
      <th scope="col">19:00</th>
      <th scope="col">20:00</th>
      <th scope="col">21:00</th>
      <th scope="col">22:00</th>
     

     </tr>
    </thead>
    <tbody>
     <tr>
      <td>
       <label>קרייה</label>
       </div>
      </td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
       <label class="custom-control-label" for="customCheck1"></td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
       <label class="custom-control-label" for="customCheck1"></td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
       <label class="custom-control-label" for="customCheck1"></td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
       <label class="custom-control-label" for="customCheck1"></td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
          <label class="custom-control-label" for="customCheck1">
        </td>

        
     </tr>
     <tr>
      <td>

       </label>
       <label>שלר</label>
       </div>
      </td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck2">
       <label class="custom-control-label" for="customCheck2"></td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck2">
       <label class="custom-control-label" for="customCheck2"></td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck2">
       <label class="custom-control-label" for="customCheck2"></td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck2">
       <label class="custom-control-label" for="customCheck2"></td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">
           <td>
            <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="customCheck2">
             <label class="custom-control-label" for="customCheck2">
           </td>
           <td>
            <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="customCheck2">
             <label class="custom-control-label" for="customCheck2">
           </td>
           <td>
            <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="customCheck2">
             <label class="custom-control-label" for="customCheck2">
           </td>
           <td>
            <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="customCheck2">
             <label class="custom-control-label" for="customCheck2">
              <td>
               <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">
              </td>
              <td>
               <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">
              </td>
              <td>
               <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">
              </td>
              
           </td>
        </td>
     </tr>
     <tr>
      <td>
     <label>דרום</label>
       </div>
      </td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck2">
       <label class="custom-control-label" for="customCheck2"></td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck2">
       <label class="custom-control-label" for="customCheck2"></td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck2">
       <label class="custom-control-label" for="customCheck2"></td>
      <td><div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck2">
       <label class="custom-control-label" for="customCheck2"></td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">
        </td>
        <td>
         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">
           <td>
            <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="customCheck2">
             <label class="custom-control-label" for="customCheck2">
           </td>
           <td>
            <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="customCheck2">
             <label class="custom-control-label" for="customCheck2">
           </td>
           <td>
            <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="customCheck2">
             <label class="custom-control-label" for="customCheck2">
              <td>
               <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">
                 <td>
                  <div class="custom-control custom-checkbox">
                   <input type="checkbox" class="custom-control-input" id="customCheck2">
                   <label class="custom-control-label" for="customCheck2">
                    <td>
                     <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label" for="customCheck2">
                    </td>
                 </td>
              </td>
           </td>
        </td>
     </tr>
     
    </tbody>
   </table>
  </div>
 </div>
</div>
{% endblock %}